fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
bcrypt==3.2.2
passlib[bcrypt]==1.7.4
pyjwt
celery
rabbitmq
minio
fastapi-mail
python-multipart